@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Rubik:wght@300&display=swap");
h1,
h4 {
  color: white;
  font-weight: 300; }

.main-box__top {
  padding: 1.75rem;
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main-box__top .user-box__heading--main {
    margin-top: 0.25rem;
    font-size: clamp(calc(2rem - .5rem), 5vw, 3rem); }
  .main-box__top .user-box__heading--sub {
    margin-bottom: 0; }

.main-box .metric-state-change {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.75rem;
  margin-top: calc((1.75rem - 2.25rem)); }
  .main-box .metric-state-change__category {
    cursor: pointer;
    color: #bdc1ff;
    margin-top: 1rem; }
    .main-box .metric-state-change__category:hover {
      color: white; }

.metric__data {
  padding: 1.75rem; }
  .metric__data .name-and-menu-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .metric__data .name-and-menu-box .activity {
      margin: 0; }

.metric .data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1.5rem; }
  .metric .data-wrapper .time {
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: clamp(2rem, 5vw, 3rem); }
  .metric .data-wrapper .previous-metric {
    margin-top: 1rem; }

html {
  font-size: 16px;
  font-family: "Rubik", sans-serif; }

body {
  background-color: #0f1424; }

.main-box {
  border-radius: 1rem;
  background-color: #1c1f4a; }
  .main-box__top {
    border-radius: 1rem;
    background-color: #5847eb;
    box-sizing: border-box; }
    .main-box__top .user-img {
      border: solid;
      width: 4.5rem;
      height: 4.5rem;
      border-width: 0.25rem;
      border-radius: 50%;
      border-color: white; }

.metric {
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: calc(1rem / 0.5);
  border-bottom-left-radius: calc(1rem / 0.5);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .metric--work {
    background-color: #ff8c66; }
  .metric--play {
    background-color: #56c2e6; }
  .metric--study {
    background-color: #ff5c7c; }
  .metric--exercise {
    background-color: #4acf81; }
  .metric--social {
    background-color: #7536d3; }
  .metric--self-care {
    background-color: #f1c65b; }
  .metric .activity-img {
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 1rem; }
  .metric__data {
    position: relative;
    border-radius: 1rem;
    margin-top: auto;
    background-color: #1c1f4a;
    box-sizing: border-box;
    height: 80%; }
    .metric__data .name-and-menu-box .ellipsis-toggle {
      height: 50%; }
    .metric__data:hover {
      background-color: #5847eb; }

main.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: min(70rem, 90%); }
  main.grid-container .main-box {
    grid-row-start: 1;
    grid-row-end: 3; }

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1.75rem;
  border-radius: 1rem;
  background-color: #1c1f4a;
  width: calc(min(70rem, 90%) - 4rem);
  margin-left: auto;
  margin-right: auto;
  color: white; }
  footer a {
    color: #bdc1ff;
    text-decoration: none; }
    footer a:hover {
      color: white; }
