@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
html {
  font-size: 16px; }

body {
  background-color: #0f1424;
  max-width: 100%;
  height: auto; }

.main-box,
.metric {
  border-radius: 1rem;
  width: 20rem;
  background-color: #1c1f4a;
  cursor: pointer; }
  .main-box:hover,
  .metric:hover {
    background-color: #5847eb; }

.main-box__top {
  border-radius: 1rem;
  width: 20rem;
  background-color: #6f76c8; }

.metric {
  height: 20rem; }

main.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
  column-gap: 0.75rem;
  row-gap: 1rem;
  height: 60rem; }
  main.grid-container .main-box {
    grid-row-start: 1;
    grid-row-end: 3; }
