@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
h1,
h4 {
  color: white;
  font-weight: 300; }

h1 {
  font-size: 3rem; }

.main-box__top {
  padding: 1.5rem; }
  .main-box__top .user-box__heading--main {
    margin-top: 0; }
  .main-box__top .user-box__heading--sub {
    margin-bottom: 0; }

.main-box .metric-state-change {
  display: flex;
  flex-direction: column;
  padding: 1.5rem; }
  .main-box .metric-state-change__category {
    cursor: pointer;
    margin-top: 1.5rem;
    color: #bdc1ff; }
    .main-box .metric-state-change__category:hover {
      color: white; }

.metric__data {
  padding: 1.5rem; }
  .metric__data .name-and-menu-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .metric__data .name-and-menu-box .activity {
      margin: 0; }

.metric .time {
  margin-bottom: 0; }

.metric .previous-metric {
  margin-top: 0;
  margin-bottom: 0; }

html {
  font-size: 16px;
  font-family: "Overpass", sans-serif; }

body {
  background-color: #0f1424; }

.main-box,
.metric {
  border-radius: 1rem; }

.main-box {
  background-color: #1c1f4a; }
  .main-box__top {
    border-radius: 1rem;
    background-color: #5847eb;
    box-sizing: border-box;
    height: calc(20rem * 1.25); }
    .main-box__top .user-img {
      border: solid;
      width: 25%;
      border-width: 0.25rem;
      border-radius: 50%;
      border-color: white; }

.metric {
  border-radius: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .metric--work {
    background-color: #ff8c66; }
  .metric--play {
    background-color: #56c2e6; }
  .metric--study {
    background-color: #ff5c7c; }
  .metric--exercise {
    background-color: #4acf81; }
  .metric--social {
    background-color: #7536d3; }
  .metric--self-care {
    background-color: #f1c65b; }
  .metric .activity-img {
    margin-left: auto; }
  .metric__data {
    border-radius: 1rem;
    margin-top: auto;
    background-color: #1c1f4a;
    box-sizing: border-box; }
    .metric__data .name-and-menu-box .ellipsis-toggle {
      height: 50%; }
    .metric__data:hover {
      background-color: #5847eb; }

/*
 REFER TO HERE:
https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
 */
main.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }
  main.grid-container .main-box {
    grid-row-start: 1;
    grid-row-end: 3; }
