//Screen widths
$width-desktop: 90rem;
$width-mobile: 23.438rem;

//Colors
$color-blue: hsl(246, 80%, 60%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-very-dark-blue: hsl(226, 43%, 10%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);

$color-activites: (
  "work": hsl(15, 100%, 70%),
  "play": hsl(195, 74%, 62%),
  "study": hsl(348, 100%, 68%),
  "exercise": hsl(145, 58%, 55%),
  "social": hsl(264, 64%, 52%),
  "self-care": hsl(43, 84%, 65%),
);

//Typography
$font-size-card-titles: 1.125rem;
$font-family: "Overpass", sans-serif;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 500;

//Layout
$border-radius: 1rem;

$grid-height: 60rem;

$card-width: 20rem;
$card-small-height: 20rem;
$card-padding: 1rem;

$gutter-vertical: 0.75rem;
$gutter-horizontal: 1rem;
