//Screen widths
$width-desktop: 90rem;
$width-mobile: 23.438rem;

//Colors
$color-blue: hsl(246, 80%, 60%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-very-dark-blue: hsl(226, 43%, 10%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);

$color-activites: (
  "work": hsl(15, 100%, 70%),
  "play": hsl(195, 74%, 62%),
  "study": hsl(348, 100%, 68%),
  "exercise": hsl(145, 58%, 55%),
  "social": hsl(264, 64%, 52%),
  "self-care": hsl(43, 84%, 65%),
);

//Typography
$font-size-card-titles: 1.125rem;
$font-size-mobile-headings: 2rem;
$font-size-mobile-user: calc(#{$font-size-mobile-headings} - .5rem);
$font-size-desktop-headings: 3rem;
$font-family: "Rubik", sans-serif;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 500;

//Layout
$border-radius: 1rem;

$grid-width: #{'min(70rem, 90%)'};

$gutter: 2rem;

$column-min-width: 15rem;
$column-max-width: 1fr;

$card-small-height: 20rem;
$card-padding: 1.75rem;

$card-inner-width: calc(100% - (#{$card-padding} * 2) );
$metric-state-change-desktop: calc(#{$card-inner-width} / 4);

$metric-data-height: 80%;

