//Screen widths
$width-desktop: 90rem;
$width-mobile: 23.438rem;

//Colors
$color-blue: "hsl(246, 80%, 60%)";

$color-work: "hsl(15, 100%, 70%)";
$color-play: "hsl(195, 74%, 62%)";
$color-study: "hsl(348, 100%, 68%)";
$color-exercise: "hsl(145, 58%, 55%)";
$color-social: "hsl(264, 64%, 52%)";
$color-self-care: "hsl(43, 84%, 65%)";

$color-very-dark-blue: "hsl(226, 43%, 10%)";
$color-dark-blue: "hsl(235, 46%, 20%)";
$color-desaturated-blue: "hsl(235, 45%, 61%)";
$color-pale-blue: "hsl(236, 100%, 87%)";

//Typography
$font-size-card-titles: 1.125rem;
$font-family: "Overpass", sans-serif;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 500;

//Layout
$border-radius: 1rem;

$grid-height: 60rem;

$card-width: 20rem;
$card-small-height: 20rem;


$gutter-vertical: .75rem;
$gutter-horizontal: 1rem;
