/*
 REFER TO HERE:
https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
 */

main.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $gutter;
  .main-box {
    grid-row-start: 1;
    grid-row-end: 3;
  }

}
