main.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($column-min-width, $column-max-width));
  grid-gap: $gutter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: $grid-width;
  .main-box {
    grid-row-start: 1;
    grid-row-end: 3;
  }

}
