.main-box,
.metric {
  @include card();
  background-color: $color-dark-blue;
  cursor: pointer;
  &:hover{
    background-color: $color-blue;
  }
}

.main-box{
  &__top{
  @include card();
    background-color: $color-desaturated-blue;
    padding: $card-padding;
    box-sizing: border-box;
    width: inherit;
  }
  .metric-state-change{
    padding: $card-padding;
  }
}

.metric {
    height: $card-small-height;
    padding: $card-padding;
  }
