.main-box,
.metric {
  @include card();
}

.main-box {
  background-color: $color-dark-blue;
  &__top {
    @include card();
    background-color: $color-desaturated-blue;
    box-sizing: border-box;
    width: inherit;
  }
}

.metric {
  height: $card-small-height;
  cursor: pointer;
  &__img-box {
    @include activity-img($color-work);
    @include card();
    box-sizing: border-box;
    z-index: 0;
    position: absolute;
    width: inherit;
    height: calc(#{$card-small-height} * 0.30);
  }
  &__data {
    .name-and-menu-box{
      img{
        height:  20%;
        padding-top: 1.5rem
      }
    }
    @include card();
    background-color: $color-dark-blue;
    z-index: 1;
    top: calc(#{$card-small-height} * 0.15);
    position: relative;
    height: calc(#{$card-small-height} * 0.85);
    width: inherit;
    box-sizing: border-box;

    &:hover {
      background-color: $color-blue;
    }
  }
}
