.main-box,
.metric {
  @include card();
  background-color: $color-dark-blue;
  cursor: pointer;
  &:hover{
    background-color: $color-blue;
  }
}

.main-box{
  &__top{
  @include card();
    background-color: $color-desaturated-blue;
  }
}

.metric {
    height: $card-small-height;
  }
