h1,
h4 {
  color: white;
  font-weight: $font-weight-light;
}

.main-box {
  &__top {
    padding: $card-padding;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .user-box {
      &__heading {
        &--main {
          margin-top: 0.25rem;
          font-size: #{"clamp(#{$font-size-mobile-user}, 5vw, #{$font-size-desktop-headings})"};
        }
        &--sub {
          margin-bottom: 0;
        }
      }
    }
  }
  .metric-state-change {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: #{"min()"};
    padding: $card-padding;
    &__category {
      cursor: pointer;
      color: $color-pale-blue;
      &:hover {
        color: white;
      }
    }
  }
}

.metric {
  &__data {
    padding: $card-padding;
    .name-and-menu-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .activity {
        margin: 0;
      }
    }
  }
  .data-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    .time {
      margin-top: 0.25rem;
      margin-bottom: 0;
      font-size: #{"clamp(#{$font-size-mobile-headings}, 5vw, #{$font-size-desktop-headings})"};
    }
    .previous-metric {
      margin-top: 1rem;
    }
  }
}
