h1,
h4 {
  color: white;
  font-weight: $font-weight-light;
}
h1 {
  font-size: 1.5rem;
}

.main-box {
  &__top {
    padding: $card-padding;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .user-box {
      &__heading {
        &--main {
          margin-top: .25rem;
        }
        &--sub {
          margin-bottom: 0;
          color: $color-desaturated-blue;
        }
      }
    }
  }
  .metric-state-change {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $card-padding;
    &__category {
      cursor: pointer;
      color: $color-pale-blue;
      &:hover {
        color: white;
      }
    }
  }
}

.metric {
  &__data {
    padding: $card-padding;
    .name-and-menu-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .activity{
        margin: 0;
      }
    }
  }
  .data-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .time{
      margin-top: .25rem;
    }
    .previous-metric{
      margin-top: .5rem;
      color: $color-desaturated-blue;
    }
  }
}

